extends page

block content
  //- TODO: Change page title to Whoops?
  //- ul(data-role='listview', data-inset='true', data-filter='true')
  //-   li: a(href='#') Welcome to #{title}
  p Error: #{message}
  p Status: #{error.status}
  p Stack: #{error.stack}