extends page

block content
  //- ul(data-role='listview', data-inset='true', data-filter='true')
    //-   li: a(href='#') Welcome to #{title}
  p Application front page.

  p: a(href='/about', title='About this application') About