doctype html
html
  //- Head
  head
    //- Meta
    meta(http-equiv='X-UA-Compatible', content='text/html', charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Create virtual drug labs in real-world locations with your cartel. Conquer labs owned by other cartels to become the drug production MVP.')

    //- Favicon
    link(rel='icon', type='image/png', href='/img/favicon.png')

    //- Page title
    title= title

    //- Style
    link(rel='stylesheet', href='/style/style.css')

    //- jQuery
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')

    //- jQuery Mobile
    script(type='text/javascript', src='/js/jquery.mobile.settings.js')
    link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js')

  //- Body
  body
    block page
