extends layout

block page
    div(data-role='page')
        div(data-role='header')
            h1
                a(href='/', data-ajax='false', title='Reload application')= title

        div(data-role='main')
            block content

        div(data-role='footer')
            h1
                a(href='/about') Copyright © Tim Visée 2016
