extends page

block content
    div(align='center')
        p The current application status is shown below.

        table.ui-responsive.table-list
            tr
                td Web server
                td: span(style='color: green;') Online
            tr
                td Uptime
                td #{uptime} seconds