extends page

block content
    //- Print the error message
    p: +format(message)

    //- Show the back button
    unless hideBackButton
        fieldset(data-role='controlgroup', data-type='vertical')
            a.ui-btn.ui-icon-back.ui-btn-icon-left.ui-shadow(href='/', data-rel='back', data-direction='reverse', title='Go back') Go back

    //- Show the login button if specified
    if showLoginButton
        fieldset(data-role='controlgroup', data-type='vertical')
            a.ui-btn.ui-icon-lock.ui-btn-icon-left.ui-shadow(href='/login', title='Go to the login page') Login

    //- Show a stack trace if given
    if showStacktrace
        br
        br
        br
        hr
        pre.
            Information for developers.

            Error: #{stacktrace.message}
            Status: #{stacktrace.status}
            Stacktrace:

            #{stacktrace.stack}