extends page

block content
  //- Print the error message
  p= message

  //- Show the back button
  fieldset(data-role='controlgroup', data-type='vertical')
    a.ui-btn.ui-icon-back.ui-btn-icon-left.ui-shadow(href='/', data-rel='back', data-direction='reverse', title='Go back') Go back

  //- Show a stack trace if given
  if showStacktrace
    p Error: #{stacktrace.message}
    p Status: #{stacktrace.status}
    p Stack: #{stacktrace.stack}