extends page

block content
    ul(data-role='listview')
        if games.category == null
            li(data-role='list-divider') Categories
        else
            li(data-role='list-divider') #{games.category} games

        if games.category == null
            li: a(href='/games/active', data-transition='slide') Active games...
            li: a(href='/games/joined', data-transition='slide') Joined games...
            li: a(href='/games/open', data-transition='slide') Open games...

        else
            li: a(href='/game/57b344a1620432f8bb1a07c0') TestGame
            li: a(href='/game/57b344a1620432f8bb1a07c0') TestGame
            li: a(href='/game/57b344a1620432f8bb1a07c0') TestGame
