extends page

block tabs
    ul(data-role='nd2tabs' data-swipe=true)
        li(data-tab='info') Info
        li(data-tab='map') Map
        li(data-tab='actions') Actions

block content
    div(data-role='nd2tab', data-tab='info')
        p Game name: #{game.name}
        p Specific game info here...

    div(data-role='nd2tab', data-tab='map')
        p Show map here...

    div(data-role='nd2tab', data-tab='actions')
        p Show actions here...

        br
        a.ui-btn(href='#', onclick='featureNotAvailable()', title='Open shop') Open shop

        br
        a.ui-btn(href='#', onclick='featureNotAvailable()', title='Open lab') Open lab
