extends page

block content
    case game.stage
        when 0
            .nd2-card.wow.fadeInUp
                .card-title.has-supporting-text
                    h3.card-primary-title Start game

                .card-supporting-text.has-action.has-title
                    p The game is ready. Click the button below to start.

                .card-action
                    .row.between-xs: .col-xs-12: .box
                        a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-game-start(href='#', data-transition='slide', data-rel='popup')
                            i.zmdi.zmdi-play
                            | &nbsp;&nbsp;Start game

        when 1
            .nd2-card.wow.fadeInUp
                .card-title.has-supporting-text
                    h3.card-primary-title Stop game

                .card-supporting-text.has-action.has-title
                    p The game is currently active. Click the button below to stop the game.

                .card-action
                    .row.between-xs: .col-xs-12: .box
                        a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-game-stop(href='#', data-transition='slide', data-rel='popup') Stop game
