extends page

block content
    ul(data-role='listview')
        li(data-role='list-divider') Active games
        li: i None

        li(data-role='list-divider') Joined games
        li: i None

        li(data-role='list-divider') Open games
        li: a(href='/game/57b344a1620432f8bb1a07c0') TestGame
