extends page

block tabs
    ul(data-role='nd2tabs' data-swipe=true)
        li(data-tab='info') Info
        li(data-tab='map') Map
        li(data-tab='actions') Actions

block content
    div(data-role='nd2tab', data-tab='info')
        div.table-list(align='center')
            h3 Game information
            table.ui-responsive
                tr: td Game name
                    td= game.name
                tr: td Players
                    td= game.userCount
                if game.playerQueuedCount > 0
                    tr: td Queued players
                        td= game.playerQueuedCount

        br
        p Other game info here...

    div(data-role='nd2tab', data-tab='map')
        p Show map here...

    div(data-role='nd2tab', data-tab='actions')
        p Show actions here...

        br
        a.ui-btn(href='#', onclick='featureNotAvailable()', title='Open shop') Open shop

        br
        a.ui-btn(href='#', onclick='featureNotAvailable()', title='Open lab') Open lab
