extends page

block content
    ul(data-role='listview')
        if games.category == null
            li(data-role='list-divider') Categories
        else
            li(data-role='list-divider') #{games.category} games

        if games.category == null
            li: a(href='/games/active', data-transition='slide') Active games...
                span.ui-li-count() 0
            li: a(href='/games/joined', data-transition='slide') Joined games...
                span.ui-li-count() 0
            li: a(href='/games/open', data-transition='slide') Open games...
                span.ui-li-count() 1

        else
            li: a(href='/game/57b344a1620432f8bb1a07c0') TestGame
                span.ui-li-count() 1 player
            li: a(href='/game/57b344a1620432f8bb1a07c0') TestGame
                span.ui-li-count() 2 players
            li: a(href='/game/57b344a1620432f8bb1a07c0') TestGame
                span.ui-li-count() 3 players
