extends page

block content
  //- ul(data-role='listview', data-inset='true', data-filter='true')
    //-   li: a(href='#') Welcome to #{title}
  p Application front page.

  p
    fieldset(data-role='controlgroup', data-type='vertical')
      a.ui-btn.ui-shadow(href='/login', title='Login') Login
      a.ui-btn.ui-shadow(href='/register', title='Register') Register

    fieldset(data-role='controlgroup', data-type='vertical')
      a.ui-btn.ui-shadow(href='/about', title='About this application') About