extends page

block content
  p Application front page.

  p
    unless loggedIn
      fieldset(data-role='controlgroup', data-type='vertical')
        a(href='/login', data-role='button', title='Login') Login
        a(href='/register', data-role='button', title='Register') Register
    else
      p Welcome #{name}! You're logged in.

      fieldset(data-role='controlgroup', data-type='vertical')
          a(href='/logout', data-role='button', data-icon='power', title='Logout') Logout

    fieldset(data-role='controlgroup', data-type='vertical')
      a(href='/about', data-role='button', data-icon='info', title='About this application') About