extends page

block content
    p.
        You don't have permission to view this page.#[br]
        #[br]
        Please go back to the previous page and try again.

    br
    a.ui-btn.ui-btn-raised.clr-primary(href='/', data-rel='back', data-direction='reverse', title='Go back') Go back
