extends layout

block page
    //- Page block
    div(data-role='page')
        //- Page header
        div(data-role='header')
            ////- Back button
            //unless hideBackButton
            //    a.ui-btn.ui-btn-left.wow.fadeIn(href='#', data-rel='back', data-direction='reverse', data-wow-delay='0.4s')
            //        i.zmdi.zmdi-arrow-back

            //- Sidebar button
            a.ui-btn.ui-btn-right.wow.fadeIn(href='#', onclick='featureNotAvailable();', data-wow-delay='0.4s')
                i.zmdi.zmdi-more-vert

            //- Menu button
            a.ui-btn.ui-btn-left.wow.fadeIn(href='#leftpanel', data-wow-delay='0.4s')
                i.zmdi.zmdi-menu

            //- Header title
            h1.wow.fadeIn= title

            //- Tabs section
            block tabs

        //- Sidebar
        include sidebar

        //- Page content
        div.ui-content(data-role='main')
            block content

        //- Page footer
        //- div(data-role='footer')
        //-     //- Footer title
        //-     //- h4: a(href='/about', title='About') Copyright © Tim Visée 2016
        //-     h4 Copyright © Tim Visée 2016
