extends layout

block page
    //- Page block
    div(data-role='page')
        //- Page header
        div(data-role='header')
            //- Back button
            unless hideBackButton
                a(href='#', data-rel='back', data-direction='reverse', data-role='button', data-icon='back') Back

            //- Header title
            h1: a(href='/', data-ajax='false', title='Reload application')= title

        //- Page content
        div.ui-content(data-role='main')
            block content

        //- Page footer
        div(data-role='footer')
            //- Footer title
            h1: a(href='/about', title='About') Copyright © Tim Visée 2016
