extends layout

block page
    //- Page block
    div(data-role='page')
        //- Page header
        div(data-role='header')
            //- Sidebar button
            a.ui-btn.ui-btn-right.wow.fadeIn(href='#optionspanel', data-wow-delay='0.4s')
                i.zmdi.zmdi-more-vert

            //- Menu button
            a.ui-btn.ui-btn-left.wow.fadeIn(href='#leftpanel', data-wow-delay='0.4s')
                i.zmdi.zmdi-menu

            //- Header title
            h1.wow.fadeIn= title

            //- Tabs section
            block tabs

        //- Sidebar
        include sidebar

        //- Page content
        div.ui-content(data-role='main')
            block content

        //- Option panel
        #optionspanel.ui-bottom-sheet-list(data-role="panel", data-animate="false", data-position='bottom', data-display="overlay")
            .row.around-xs
                .col-xs-auto
                    a.ui-bottom-sheet-link.ui-btn.ui-btn-inline.waves-effect.waves-button.waves-effect.waves-button(href='#', onclick='featureNotAvailable()', data-ajax='false')
                        i.zmdi.zmdi-assignment.zmd-2x
                        strong Button A

                .col-xs-auto
                    a.ui-bottom-sheet-link.ui-btn.ui-btn-inline.waves-effect.waves-button.waves-effect.waves-button(href='#', onclick='featureNotAvailable()', data-ajax='false')
                        i.zmdi.zmdi-fire.zmd-2x
                        strong Button B

                .col-xs-auto
                    a.ui-bottom-sheet-link.ui-btn.ui-btn-inline.waves-effect.waves-button.waves-effect.waves-button(href='#', onclick='featureNotAvailable()', data-ajax='false')
                        i.zmdi.zmdi-cloud-outline-alt.zmd-2x
                        strong Button C

                .col-xs-auto
                    a.ui-bottom-sheet-link.ui-btn.ui-btn-inline.waves-effect.waves-button.waves-effect.waves-button(href='#', onclick='featureNotAvailable()', data-ajax='false')
                        i.zmdi.zmdi-format-color-fill.zmd-2x
                        strong Button D

        //- Page footer
        //- div(data-role='footer')
        //-     //- Footer title
        //-     //- h4: a(href='/about', title='About') Copyright © Tim Visée 2016
        //-     h4 Copyright © Tim Visée 2016
