extends page

block content
    p Enter your preferred username and password to register.

    form(method='POST', action='/register')
        input(type='text', name='login_mail', placeholder='Mail address')
        input(type='password', name='login_password', placeholder='Password')
        input(type='password', name='login_password_verify', placeholder='Password verification')
        input(type='text', name='login_first_name', placeholder='First name')
        input(type='text', name='login_last_name', placeholder='Last name')

        input.ui-btn.ui-icon-lock.ui-btn-icon-right(type='submit', value='Register')

        a.ui-btn.ui-shadow(href='/login') Login