extends page

block content
    unless success
        p Enter your mail address and password to register.

        br

        form(method='POST', action='/register/#')

            label(for='mail') Mail address:
            input(type='text', name='mail', id='mail', value='', data-clear-btn='true')

            label(for='password') Password:
            input(type='password', name='password', id='password', value='', data-clear-btn='true', autocomplete='off')

            label(for='password_verify') Password verification:
            input(type='password', name='password_verify', id='password_verify', value='', data-clear-btn='true', autocomplete='off')

            label(for='first_name') First name:
            input(type='text', name='first_name', id='first_name', value='', data-clear-btn='true')

            label(for='last_name') Last name:
            input(type='text', name='last_name', id='last_name', value='', data-clear-btn='true')

            br

            button.ui-btn.ui-btn-raised.clr-primary(type='submit') Register

            br

            a.ui-btn(href='/login', title='Login') Already have an account?

    else
        //- Print the success message
        p: +format(message)

        //- Show the dashboard button
        a.ui-btn.clr-primary(href='/dashboard', data-icon='home', title='Go to your dashboard') Dashboard