extends page

block content
    unless success
        p Enter your preferred mail address and password to register.

        form(method='POST', action='/register/#')
            input(type='text', name='mail', placeholder='Mail address')
            input(type='password', name='password', placeholder='Password', autocomplete='off')
            input(type='password', name='password_verify', placeholder='Password verification', autocomplete='off')
            input(type='text', name='first_name', placeholder='First name')
            input(type='text', name='last_name', placeholder='Last name')

            input(type='submit', value='Register', data-role='button', data-icon='lock')

            a(href='/login', data-role='button', title='Login') Login

    else
        //- Print the success message
        p: +format(message)

        //- Show the dashboard button
        fieldset(data-role='controlgroup', data-type='vertical')
            a(href='/dashboard', data-role='button', data-icon='home', title='Go to your dashboard') Dashboard