extends page

block content
    unless success
        p Enter your preferred username and password to register.

        form(method='POST', action='/register')
            input(type='text', name='mail', placeholder='Mail address')
            input(type='password', name='password', placeholder='Password')
            input(type='password', name='password_verify', placeholder='Password verification')
            input(type='text', name='first_name', placeholder='First name')
            input(type='text', name='last_name', placeholder='Last name')

            input.ui-btn.ui-icon-lock.ui-btn-icon-right(type='submit', value='Register')

            a.ui-btn.ui-shadow(href='/login') Login

    else
        //- Print the success message
        p !{message.replace(/\n/g, '<br />')}

        //- Show the dashboard button
        fieldset(data-role='controlgroup', data-type='vertical')
            a.ui-btn.ui-icon-home.ui-btn-icon-left.ui-shadow(href='/', title='Go to your dashboard') Dashboard